extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Brian DalCorobbo
        p Front End JavaScript Developer

        .about-bio
          p As a Front End JavaScript Developer, I develop interactive user experiences using modern frameworks.  

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li React
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 708-275-1604
          li dalcorob@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/briandalcorobbo/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/BDalco', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back